@import "variable";

.index-page {
  color: red;

  .container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
  }

  header {
    color: blue;
  }

  nav {
    border-radius: 4px;
    border: 1px solid red;
    box-shadow: 1px 1px red;
    transform: translateY(10px);
  }
}