$color_num: #5CF4FF;
$color_main: #f6ab00; //页面风格颜色
$color_red:#ff5657; //红色
$color_blue: #004098; //蓝色
$color_green:#67c23a; //绿色
$color_placeholder: #909399; //placeholder 字体颜色

//自定义常用的 class
%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%middle {
  display: inline-block;
  vertical-align: middle
}


//超过N行就打... 只兼容 weikit

@mixin ellipsis($num) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
}
